body{
    background-color: rgba(196, 228, 248, 0.432);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    
}
h3{
    padding-left: 20px;
    font-size: 20px;
    margin-top: 0%;
}
p{
    padding: 10px 0px;
    text-align: justify;
}
section{
    padding-bottom: 50px;
}
.flexible{
    display: flex;
}
.left-border{
    border-left: 3px solid lightcoral;
}
.half-width{
    width: 50%;
    margin: 100px;

}
.top-pic img{
    width: 85%;
    border-radius: 50px;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#074c55, rgb(120, 201, 99));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 550;
}
.text-color{
    color:mediumseagreen;
}

.to-do h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.to-do img{
    width: 30%;
}
.to-do p{
    padding: 0px 10px 25px 10px;
}

.color1{
    color: rgb(40,67,94);
}
.color2{
    color:rgb(234,169,10);
}
#left-div{
    border-radius: 15px;
    background-color: rgb(149, 250, 245);
    width: 500px;
    height: 350px;
    margin-top: 0%;
    margin-left: 100px;
    margin-right: 20px;
    
}
#middle-div{
    border-radius: 15px;
    background-color: rgb(238, 204, 159);
    width: 500px;
    height: 350px;
    margin-top: 0%;
    margin-right: 20px;
}
#right-div{
    border-radius: 15px;
    background-color: rgb(173, 159, 129);
    width: 500px;
    height: 350px;
    margin-top: 0%;
    margin-right: 100px;
}

.hard-work{
    background-image: url(images/illustrators/shape-1.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: left;
}
 .hard-work img{
     width: 70%;
     margin-right: 0px;
     margin-left: 100px;
     margin-top: 0px;
     border-radius: 15px;
 }
 .hard-work h2{
     font-size: 40px;
     margin: 0px;
 }
 #main-key{
    margin-left: 0px;
    margin-right: 100px;
    padding-left: 0px;
}
.share h2{
    font-size: 40px;
}
.share img{
    margin-right: 100px;
    margin-top: 80px;
    border-radius: 25px;

}
.share{
    background-position: right;
    background-image: url(images/illustrators/shape-5.png);
    background-repeat: no-repeat;
    background-size: 300px;
}
.bonous h2{
    font-size: 40px;
    text-align: center;
}
.bonous img{
    width: 70%;
    height: 450px;
    border-radius: 25px;
}
#hero{
    margin-top: 0px;
    margin-left: 300px;
}
#man-kind h2{
    text-align: left;
    font-size: 40px;
}
#man-kind{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 100px;
}
footer{
    background-color: black;
    padding-top: 30px;
    color:blanchedalmond;
}
footer h3{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Moon Dance', cursive;
}
footer p{
    text-align: center;
    font-family: cursive;
    padding-top: 0px;
}
#foot{
    color: brown;
}